{% extends 'EGGameBundle::layout.html.twig' %}
{% block title %}{{ parent() }} - Liste des jeux de {{ pupil.name }} {{ pupil.lastName }}{% endblock %}

{% block egBody %}
<div class="row">
    <h2 class="text-center">Liste des jeux de {{ pupil.name }} {{ pupil.lastName }}</h2>

    <ul class="container-fluid bg-3 text-center-sm-3">
        {% for game in pupil.games %}
            <div class="col-sm-3">
                <li class="list-unstyled">
                    <a class="link" href="{{ path('eg_game_play', {pupil: pupil.name, id: game.id} ) }}">
                        <div>
                            <img id="imgGame" src="{{ asset(game.images.webPath) }}" alt="{{ game.images.alt }}"/>
                        </div>
                    </a>
                </li>
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}