{% extends 'EGUserBundle::layout.html.twig' %}
{% block title %}{{ parent() }} - Administration des enseignants{% endblock %}


{% block egBody %}
        <h2 class="text-center">Gestion des Enseignants</h2>
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in listUser %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.name }}</td>

                            <td><a href="{{ path('eg_user_edit', {id: user.id}) }}" class="btn btn-primary">Editer l'enseignant</a></td>
                            <td> <a href="{{ path('eg_user_delete', {id: user.id }) }}" class="btn btn-danger">Supprimer l'enseignant <span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
        <div class="text-center col col-lg-12">
            <a href="{{ path('eg_user_add') }}" class="btn btn-success">Ajouter un enseignant <span class="glyphicon glyphicon-plus" ></span></a>
            <a href="{{ path('eg_class_homepage') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a></div>
    </div>
{% endblock %}
