{% extends 'EGClassBundle::layout.html.twig' %}

{% block title %}
    Suppression enseignant - {{ parent() }}
{% endblock %}

{% block egBody %}
    <div class="well text-center">
        <p>Êtes-vous sur de vouloir supprimer l'enseignant {{ user.name }}</p>

        <form action="{{ path('eg_user_delete', {'id': user.id}) }}" method="post">
            <a href="{{ path('eg_user_homepage') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Annuler</a>

            {# Ici j'ai écrit le bouton de soumission à la main #}
            <input type="submit" value="Supprimer" class="btn btn-danger" />
            {# Ceci va générer le champ CSRF #}
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}