<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Edugame{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                 <a href="{{ path("eg_core_homepage") }}">Edugames</a>
            </div>
                <div class="nav navbar-nav">
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Profil <span class="caret"> </span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path("eg_class_homepage") }}">Gestion de la Classe</a></li>
                            <li><a href="#">Courbes de Progression</a></li>
                            <li><a href="#">Paramètres du Profil </a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </nav>
</header>

{% block body %}

    {% block egBody %}
        {% endblock %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}
</body>
<footer>
    <p> Site Développé par Dimitri LAGACHE & Fatma OUISSI | Licence Pro TII | 2018 </p>
</footer>
</html>