<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Edugame{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container-fluid">
            <div class="navbar-header">
                 <a class="navbar-brand center-block" href="{{ path("eg_core_homepage") }}">Edugames</a>
            </div>
           {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class=" glyphicon glyphicon-menu-hamburger"></span> </a>
                        {#<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Profil <span class="caret"> </span></a>#}
                        <ul class="dropdown-menu">
                            <li><a href="{{ path("eg_core_homepage") }}">Acceuil</a></li>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li><a href="{{ path("eg_user_homepage") }}">Gestion des enseignants</a></li>
                               {% endif %}
                            <li><a href="{{ path("eg_class_homepage") }}">Gestion des Classes</a></li>
                            <li><a href="{{ path("eg_follow_up_homepage") }}">Suivi des Classes</a></li>
                            <li><a href="{{ path('eg_user_profile', {id: app.user.id }) }}">Profil</a></li>
                            <li><a href="{{ path("fos_user_security_logout") }}">Déconnexion </a></li>
                        </ul>
                    </li>
                </ul>
           {% endif %}
        </div>
    </nav>
</header>
<main>
<div class="container-fluid text-center" id="container">
    <div class="row">
{% block body %}

    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ key }}">
                {{ message }}
               {# {{ message|trans({}, 'FOSUserBundle') }}#}
            </div>
        {% endfor %}
    {% endfor %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}

    {% block egBody %}
        {% endblock %}
{% endblock %}
    </div>
</div>

</main>
<footer class="footer">
    <div class="container text-center">
        <p class="text-muted"> Site Développé par Dimitri LAGACHE & Fatma OUISSI | Licence Pro TII | 2018 </p>
    </div>

</footer>

</body>
</html>