{% extends '::layout.html.twig' %}

{% block title %}
    Liste eleve - {{ parent() }}
{% endblock %}

{% block egBody %}
<div class="row">
    <ul>
        {% for pupil in listPupil %}
           <li class="well col-lg-2 col-lg-offset-1">
                    <p>nom : {{ pupil.lastname }}</p>
                    <p>prenom : {{ pupil.name }}</p>
                    <p>Date de naissance : {{ pupil.birthdate|date('d/m/Y')  }}</p>
               </li>
        {% endfor %}
    </ul>


<a href="{{ path('eg_class_homepage') }}" class="btn btn-default">Retour</a></div>

{% endblock %}