{% extends '::layout.html.twig' %}

{% block title %}
    Liste eleve - {{ parent() }}
{% endblock %}

{% block egBody %}
<div class="row">
    <ul>
        {% for Pupil in listPupil %}
           <li class="well col-lg-2 col-lg-offset-1">
                    <p>nom : {{ Pupil.lastname }}</p>
                    <p>prenom : {{ Pupil.name }}</p>
                    <p>Date de naissance : {{ Pupil.birthdate|date('d/m/Y')  }}</p>
               </li>
        {% endfor %}
    </ul>


<a href="{{ path('eg_class_homepage') }}" class="btn btn-default">Retour</a></div>

{% endblock %}