{% extends 'EGClassBundle::layout.html.twig' %}

{% block title %}
    {{ class.classroomName }} - {{ parent() }}
{% endblock %}

{% block egBody %}
    <h2 class="text-center">Gestion des élèves de la Classe {{ class.classroomName }}</h2>
    <div class="row">
        <ul class="container-fluid bg-3 text-center-sm-3">
            {% for pupil in listPupil %}
                <div class="col-sm-3">
                    <div class="panel panel-title well">
                        <li class="list-unstyled">
                            <p>{{ pupil.lastname }}
                                {{ pupil.name }}</p>
                            <p>{{ pupil.birthdate|date('d/m/Y')  }}</p>
                            <a href="#" class="btn btn-primary">Editer l'éléve</span></a>
                            <a href="{{ path('eg_pupil_delete', {id: pupil.id}) }}" class="btn btn-danger">Supprimer l'éléve <span class="glyphicon glyphicon-trash" ></span></a>
                        </li>
                    </div>
                </div>
            {% endfor %}
            <div class="col-sm-3">
                <div class="panel panel-title well">
                    <li class="list-unstyled">
                        <a href="{{ path('eg_pupil_add', {id: class.id}) }}" class="btn btn-success">Ajouter un éléve <span class="glyphicon glyphicon-plus" ></span></a>
                    </li>
                </div>
            </div>
        </ul>
    <div class="text-center col col-lg-12">
        <a href="{{ path('eg_class_delete_all', {id: class.id}) }}" class="btn btn-danger">Supprimer tout les éléves <span class="glyphicon glyphicon-trash" ></span></a>
        <a href="{{ path('eg_class_edit', {id: class.id}) }}" class="btn btn-primary">Modifier le nom de classe</a>
            <a href="{{ path('eg_class_delete', {id: class.id}) }}" class="btn btn-danger">Supprimer la classe <span class="glyphicon glyphicon-trash" ></span></a>
            <a href="{{ path('eg_class_homepage') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a></div>
    </div>
{% endblock %}

